
{% extends 'Company/_base.html' %}

{% block title %}
    Sei Pokerista Se...
{% endblock%}

{% block active3 %}
    class="active"
{% endblock%}

{% block style %}
      <link href="/static/Company/css/banner.css" rel="stylesheet" />  
{% endblock%}

{% block content %}


<br><br><br><br><br>



<script type="text/javascript" src= "/static/ui/betting.js"></script>




<div id="wrapper">
    <div id="sidebar-wrapper">
   <iframe scrolling="no" frameborder="0" style="padding:0px; margin:0px; border:0px;border-style:none;border-style:none;" width="150" height="150" src="https://wlbetclic.adsrv.eacdn.com/I.ashx?btag=a_21858b_17199c_&amp;affid=13162&amp;siteid=21858&amp;adid=17199&amp;c="></iframe>
         <br><br>
<iframe scrolling="no" frameborder="0" style="padding:0px; margin:0px; border:0px;border-style:none;border-style:none;" width="150" height="150" src="https://wlbetclic.adsrv.eacdn.com/I.ashx?btag=a_21858b_17199c_&amp;affid=13162&amp;siteid=21858&amp;adid=17199&amp;c="></iframe>
          <br><br>
<iframe scrolling="no" frameborder="0" style="padding:0px; margin:0px; border:0px;border-style:none;border-style:none;" width="150" height="150" src="https://wlbetclic.adsrv.eacdn.com/I.ashx?btag=a_21858b_17199c_&amp;affid=13162&amp;siteid=21858&amp;adid=17199&amp;c="></iframe>
    </div>
 <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
            <div class="blogList wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"></div>
             {% verbatim %}
                <script id="blog-li-template" type="text/template">
                <div class="row">
                  <div class="col-md-2">
                      <a href="/post?pk={{pk}}&subject={{subject}}"><img src='{{image}}'  width="150" height="150" alt="" ></a>
                  </div>
                    <div class="col-md-10">
                        <p class="intro" style="font-size: 30px">
<strong><a href="/post?pk={{pk}}&subject={{subject}}">{{title}}</a></strong><span style="font-size: 16px">
                                    
                                {{ content }}

                           </span></p><br><br><hr/>
                    </div>
                </div>
                </script>
      {% endverbatim %}
                               
            </div>
        </div>
    </div>
</div>
  


  <br><br><br><br><br>




    
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/Company/js/jquery-2.1.1.min.js"></script>  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Company/js/bootstrap.min.js"></script>
    <script src="/static/Company/js/jquery.prettyPhoto.js"></script>
    <script src="/static/Company/js/jquery.isotope.min.js"></script>  
    <script src="/static/Company/js/wow.min.js"></script>
    <script src="/static/Company/js/functions.js"></script>


 {% endblock%}