
{% extends 'Company/_base.html' %}

{% block title %}
    Sei Pokerista Se...
{% endblock%}

{% block active2 %}
    class="active"
{% endblock%}

{% block style %}
      <link href="/static/Company/css/banner.css" rel="stylesheet" />  
{% endblock%}

{% block content %}

<br><br><br><br><br>

<script type="text/javascript" src= "/static/ui/poker.js"></script>




<div id="wrapper">
    <div id="sidebar-wrapper">
         <a href="https://www.gambling-affiliation.com/cpc/v=GCXOQu2wTAVuWKGVUEuroFkXuZDBXovgFI0YobM2DYo_GA7331V2" title="Lottomatica" target="_blank"><img width="150" height="150" border="0" alt="Lottomatica" src="https://www.gambling-affiliation.com/uploads/ads/42259.gif"></a>
         <br><br>
          <a href="https://www.gambling-affiliation.com/cpc/v=GCXOQu2wTAVuWKGVUEuroFkXuZDBXovgFI0YobM2DYo_GA7331V2" title="Lottomatica" target="_blank"><img width="150" height="150" border="0" alt="Lottomatica" src="https://www.gambling-affiliation.com/uploads/ads/42259.gif"></a>
          <br><br>
           <a href="https://www.gambling-affiliation.com/cpc/v=GCXOQu2wTAVuWKGVUEuroFkXuZDBXovgFI0YobM2DYo_GA7331V2" title="Lottomatica" target="_blank"><img width="150" height="150" border="0" alt="Lottomatica" src="https://www.gambling-affiliation.com/uploads/ads/42259.gif"></a>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
            <div class="blogList wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"></div>
             {% verbatim %}
                <script id="blog-li-template" type="text/template">
                <div class="row">
                  <div class="col-md-2">
                      <a href="/post?pk={{pk}}&subject={{subject}}"><img src='{{image}}'  width="150" height="150" alt="" ></a>
                  </div>
                    <div class="col-md-10">
                        <p class="intro" style="font-size: 30px">
<strong><a href="/post?pk={{pk}}&subject={{subject}}">{{title}}</a></strong><span style="font-size: 16px">
                                    
                                {{ content }}

                           </span></p><br><br><hr/>
                    </div>
                </div>
                </script>
      {% endverbatim %}
                               
            </div>
        </div>
    </div>
</div>
	


  <br><br><br><br><br>

	
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/Company/js/jquery-2.1.1.min.js"></script>	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Company/js/bootstrap.min.js"></script>
	<script src="/static/Company/js/jquery.prettyPhoto.js"></script>
    <script src="/static/Company/js/jquery.isotope.min.js"></script>  
	<script src="/static/Company/js/wow.min.js"></script>
	<script src="/static/Company/js/functions.js"></script>


 {% endblock%}