
{% extends 'Company/_base.html' %}

{% block title %}
    Sei Pokerista Se...
{% endblock%}

{% block active2 %}
    class="active"
{% endblock%}

{% block style %}
      <link href="/static/Company/css/banner.css" rel="stylesheet" />  
{% endblock%}

{% block content %}

<br><br><br><br><br>

	
	  
	  <div id="tf-stat">
        <div class="container">
            <div class="row">
                <div class="col-md-4 foto">
                  <a href="https://www.gambling-affiliation.com/cpc/v=GCXOQu2wTAVuWKGVUEuroFkXuZDBXovgFI0YobM2DYo_GA7331V2" title="Lottomatica" target="_blank"><img width="200" height="200" border="0" alt="Lottomatica" src="https://www.gambling-affiliation.com/uploads/ads/42259.gif"></a>
              </div>
                <div class="col-md-8">
                    <div class="about-text">
                        <p class="intro" style="font-size: 30px">
<strong>Lottomatica</strong><br><span style="font-size: 16px">
Presentiamo infine, non un broker, bensì una poker room, perché vogliamo ricordare ai nostri affezionati clienti che, nonostante col gioco non si sia mai arricchito nessuno, il poker, come la borsa, non è da considerarsi un gioco di puro azzardo, ma assomiglia molto di più agli scacchi. Infatti strategia e tattica si fondono in un mix perfetto che garantisce al giocatore oculato una grande possibilità di vincita.  Lottomatica è l unica e la sola pokeroom degna di avervi come clienti

                           </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<hr/>
	  <div id="tf-stat">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <a href="https://www.gambling-affiliation.com/cpc/v=GCXOQu2wTAVuWKGVUEuroFkXuZDBXovgFI0YobM2DYo_GA7331V2" title="Lottomatica" target="_blank"><img width="200" height="200" border="0" alt="Lottomatica" src="https://www.gambling-affiliation.com/uploads/ads/42259.gif"></a>
              </div>
                <div class="col-md-8">
                    <div class="about-text">
                        <p class="intro" style="font-size: 30px">
<strong>Lottomatica</strong><br><span style="font-size: 16px">
Presentiamo infine, non un broker, bensì una poker room, perché vogliamo ricordare ai nostri affezionati clienti che, nonostante col gioco non si sia mai arricchito nessuno, il poker, come la borsa, non è da considerarsi un gioco di puro azzardo, ma assomiglia molto di più agli scacchi. Infatti strategia e tattica si fondono in un mix perfetto che garantisce al giocatore oculato una grande possibilità di vincita.  Lottomatica è l unica e la sola pokeroom degna di avervi come clienti

                           </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>
	  <div id="tf-stat">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <a href="https://www.gambling-affiliation.com/cpc/v=GCXOQu2wTAVuWKGVUEuroFkXuZDBXovgFI0YobM2DYo_GA7331V2" title="Lottomatica" target="_blank"><img width="200" height="200" border="0" alt="Lottomatica" src="https://www.gambling-affiliation.com/uploads/ads/42259.gif"></a>
              </div>
                <div class="col-md-8">
                    <div class="about-text">
                        <p class="intro" style="font-size: 30px">
<strong>Lottomatica</strong><br><span style="font-size: 16px">
Presentiamo infine, non un broker, bensì una poker room, perché vogliamo ricordare ai nostri affezionati clienti che, nonostante col gioco non si sia mai arricchito nessuno, il poker, come la borsa, non è da considerarsi un gioco di puro azzardo, ma assomiglia molto di più agli scacchi. Infatti strategia e tattica si fondono in un mix perfetto che garantisce al giocatore oculato una grande possibilità di vincita.  Lottomatica è l unica e la sola pokeroom degna di avervi come clienti

                           </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<br><br><br>


	
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/Company/js/jquery-2.1.1.min.js"></script>	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Company/js/bootstrap.min.js"></script>
	<script src="/static/Company/js/jquery.prettyPhoto.js"></script>
    <script src="/static/Company/js/jquery.isotope.min.js"></script>  
	<script src="/static/Company/js/wow.min.js"></script>
	<script src="/static/Company/js/functions.js"></script>


 {% endblock%}