
{% extends 'Company/_base.html' %}

{% block title %}
    Sei Pokerista Se...
{% endblock%}

{% block active1 %}
    class="active"
{% endblock%}

{% block style %}
      <link href="/static/Company/css/post.css" rel="stylesheet" />  
{% endblock%}

{% block content %}


<script type="text/javascript" src= "/static/ui/post.js"></script>

<br><br>

    <div class="lates">
        <div class="container">
            <div class="post wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"></div>
            {% verbatim %}
            <script id="post-template" type="text/template">
                <div class="col-md-12">
                    <center>
                        <img src="{{image}}" height="400" width="600"/>
                        <h2>{{title}}</h2>
                        <p>{{content}}</p>
                        <p>{{user}}</p>
                        <p>Posted on: {{created_at}}</p>
                    </center>
                </div>
            </script>
            {% endverbatim %}
        </div>
    </div>


    <div class="commenti">
    <br><br>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.10&appId=607914096275636";
       fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <center>
      <div class="fb-comments" data-href="http://www.seipokeristase.com/post?pk={{pk}}" data-numposts="7"></div>
      </center>
      <br><br>
    </div>
    
   <!-- href da completare, per renderlo dinamico -->
    <script src="/static/Company/js/jquery-2.1.1.min.js"></script>  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Company/js/bootstrap.min.js"></script>
    <script src="/static/Company/js/jquery.prettyPhoto.js"></script>
    <script src="/static/Company/js/jquery.isotope.min.js"></script>  
    <script src="/static/Company/js/wow.min.js"></script>
    <script src="/static/Company/js/functions.js"></script>


 {% endblock%}
