{% extends 'Company/_base.html' %}

{% block title %}
    Sei Pokerista Se...
{% endblock%}

{% block active5 %}
    class="active"
{% endblock%}

{% block content %}

<br><br><br>
	

	<div class="our-team">
		<div class="container">
			<center>
				<h3>I nostri fondatori</h3>	
			</center>
			<div class="text-center">
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
					<img src="static/Company/images/services/1.jpg" alt="" >
					<h4>Bernardo Poli</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<img src="static/Company/images/services/2.jpg" alt="" >
					<h4>Danilo Spampinato</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
					<img src="static/Company/images/services/3.jpg" alt="" >
					<h4>Stefano Casciello</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
				</div>
			</div>
		</div>
		 <div class="text-center"><button onclick="window.location='https://www.facebook.com/groups/693246690781347/';" class="btn btn-primary btn-lg">Iscriviti al gruppo</button></div>
	</div>
	
	<script src="/static/Company/js/jquery-2.1.1.min.js"></script>	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Company/js/bootstrap.min.js"></script>
	<script src="/static/Company/js/jquery.prettyPhoto.js"></script>
    <script src="/static/Company/js/jquery.isotope.min.js"></script>  
	<script src="/static/Company/js/wow.min.js"></script>
	<script src="/static/Company/js/functions.js"></script>


 {% endblock%}