
{% extends 'Company/_base.html' %}

{% block title %}
    Sei Pokerista Se...
{% endblock%}

{% block active4 %}
    class="active"
{% endblock%}

{% block style %}
      <link href="/static/Company/css/banner.css" rel="stylesheet" />  
{% endblock%}

{% block content %}


<br><br><br><br><br>

<script type="text/javascript" src= "/static/ui/trading.js"></script>




<div id="wrapper">
    <div id="sidebar-wrapper">
<a href="http://record.globalkapitalpartners.com/_8zlSykIFj1fDEkzXio9YQ6njUC00Gpka/1/" target="_new"><img src="http://media.globalkapitalpartners.com/uploads/IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1.gif" width="150" height="150" alt="IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1" style="border:none;"></a>
         <br><br>
<a href="http://record.globalkapitalpartners.com/_8zlSykIFj1fDEkzXio9YQ6njUC00Gpka/1/" target="_new"><img src="http://media.globalkapitalpartners.com/uploads/IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1.gif" width="150" height="150" alt="IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1" style="border:none;"></a>
          <br><br>
<a href="http://record.globalkapitalpartners.com/_8zlSykIFj1fDEkzXio9YQ6njUC00Gpka/1/" target="_new"><img src="http://media.globalkapitalpartners.com/uploads/IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1.gif" width="150" height="150" alt="IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1" style="border:none;"></a>
    </div>
     <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
            <div class="blogList wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"></div>
             {% verbatim %}
                <script id="blog-li-template" type="text/template">
                <div class="row">
                  <div class="col-md-2">
                      <a href="/post?pk={{pk}}&subject={{subject}}"><img src='{{image}}'  width="150" height="150" alt="" ></a>
                  </div>
                    <div class="col-md-10">
                        <p class="intro" style="font-size: 30px">
<strong><a href="/post?pk={{pk}}&subject={{subject}}">{{title}}</a></strong><span style="font-size: 16px">
                                    
                                {{ content }}

                           </span></p><br><br><hr/>
                    </div>
                </div>
                </script>
      {% endverbatim %}
                               
            </div>
        </div>
    </div>
</div>
  


  <br><br><br><br><br>


    
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/Company/js/jquery-2.1.1.min.js"></script>  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Company/js/bootstrap.min.js"></script>
    <script src="/static/Company/js/jquery.prettyPhoto.js"></script>
    <script src="/static/Company/js/jquery.isotope.min.js"></script>  
    <script src="/static/Company/js/wow.min.js"></script>
    <script src="/static/Company/js/functions.js"></script>


 {% endblock%}