
{% extends 'Company/_base.html' %}

{% block title %}
    Sei Pokerista Se...
{% endblock%}

{% block active4 %}
    class="active"
{% endblock%}

{% block style %}
      <link href="/static/Company/css/banner.css" rel="stylesheet" />  
{% endblock%}

{% block content %}

<br><br><br><br><br>

    
      
     <div id="tf-stat">
        <div class="container">
            <div class="row">
                <div class="col-md-4 foto">
<a href="http://record.globalkapitalpartners.com/_8zlSykIFj1fDEkzXio9YQ6njUC00Gpka/1/" target="_new"><img src="http://media.globalkapitalpartners.com/uploads/IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1.gif" width="250" height="250" alt="IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1" style="border:none;"></a>
              </div>
                <div class="col-md-8">
                    <div class="about-text">
                        <p class="intro" style="font-size: 30px">
    <strong>Global Kapital FX</strong><br><span style="font-size: 16px">
GKFX è un moderno broker di CDF, il cui quartier generale è situato in Gran Bretagna. La regolamentazione da parte della Financial Conduct Authority (Autorità Garante Finanziaria) aumenta la fiducia degli operatori finanziari grazie a un 100% di assicurazione sui depositi di 50.000 Sterline. Il GKFX è l’unico broker o al mondo ad offrire servizi di mercato attraverso la formula dello Spread Betting anche sulla piattaforma MetaTrader 4. Una vasta gamma di strumenti di supporto aiuterà i clienti ad ottenere scambi proficui e facendo di GKFX un promettente broker.
</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr/>
          <div id="tf-stat">
        <div class="container">
            <div class="row">
                <div class="col-md-4 foto">
<a href="http://record.globalkapitalpartners.com/_8zlSykIFj1fDEkzXio9YQ6njUC00Gpka/1/" target="_new"><img src="http://media.globalkapitalpartners.com/uploads/IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1.gif" width="250" height="250" alt="IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1" style="border:none;"></a>
              </div>
                <div class="col-md-8">
                    <div class="about-text">
                        <p class="intro" style="font-size: 30px">
    <strong>Global Kapital FX</strong><br><span style="font-size: 16px">
GKFX è un moderno broker di CDF, il cui quartier generale è situato in Gran Bretagna. La regolamentazione da parte della Financial Conduct Authority (Autorità Garante Finanziaria) aumenta la fiducia degli operatori finanziari grazie a un 100% di assicurazione sui depositi di 50.000 Sterline. Il GKFX è l’unico broker o al mondo ad offrire servizi di mercato attraverso la formula dello Spread Betting anche sulla piattaforma MetaTrader 4. Una vasta gamma di strumenti di supporto aiuterà i clienti ad ottenere scambi proficui e facendo di GKFX un promettente broker.
</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>
          <div id="tf-stat">
        <div class="container">
            <div class="row">
                <div class="col-md-4 foto">
<a href="http://record.globalkapitalpartners.com/_8zlSykIFj1fDEkzXio9YQ6njUC00Gpka/1/" target="_new"><img src="http://media.globalkapitalpartners.com/uploads/IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1.gif" width="250" height="250" alt="IT_250x250_What_Do_You_Expect_From_a_Forex_Broker_v1" style="border:none;"></a>
              </div>
                <div class="col-md-8">
                    <div class="about-text">
                        <p class="intro" style="font-size: 30px">
    <strong>Global Kapital FX</strong><br><span style="font-size: 16px">
GKFX è un moderno broker di CDF, il cui quartier generale è situato in Gran Bretagna. La regolamentazione da parte della Financial Conduct Authority (Autorità Garante Finanziaria) aumenta la fiducia degli operatori finanziari grazie a un 100% di assicurazione sui depositi di 50.000 Sterline. Il GKFX è l’unico broker o al mondo ad offrire servizi di mercato attraverso la formula dello Spread Betting anche sulla piattaforma MetaTrader 4. Una vasta gamma di strumenti di supporto aiuterà i clienti ad ottenere scambi proficui e facendo di GKFX un promettente broker.
</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br><br><br>


    
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/Company/js/jquery-2.1.1.min.js"></script>  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/Company/js/bootstrap.min.js"></script>
    <script src="/static/Company/js/jquery.prettyPhoto.js"></script>
    <script src="/static/Company/js/jquery.isotope.min.js"></script>  
    <script src="/static/Company/js/wow.min.js"></script>
    <script src="/static/Company/js/functions.js"></script>


 {% endblock%}