hr
{
margin-left: 10%;
margin-right: 10%;
color: #eee;
background-color: #eee;
height: 3px;
}

.intro
{
margin-top: 2%;
margin-right: 2%;
}

.foto
{
margin-top: 1%;
}


#wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -190px;
  left: 200px;
  width: 200px;
  position: fixed;
  height: 90%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

